{% extends 'base.html' %}

{% block content %}
    <p>hello cool stuff will be added later</p>

<h1>First cool thing</h1>
<p>It took me 5 years to realize this idea, and simplify it down to no hardware so it can be built, 
then it took me like 1 year of ON and OFF experimentation with django to realize django wont work, 
    then I turned to flask within ONE DAY of using it I could make simple websites, so I knew it was the "one" or MY BACKENED.
Then it took nearly 1 week of A LOT OF INTERNET HELP (thank you darpnet!! and Stack Overflow! probably like 60% of code of the internet :) ) I made this app
then added a DB then finally I needed a hosting service, I tried Heroku but they cost money, I eventually came to zeet but you need a Cloud account for that 
so I finally came to vercel. Only 1 article written about it and little to no documentation for using flask with it, but it was free. I tried but got a error
realized it was with requirnments.txt then figured out I named the file wrong, named it correctly and still got a error. Could not find a internet answer and 
finally added someting to app.py. I finally realized I should add, "vercel" to the end of my search. Still nothing specific but I found out that I needed to 
clean up requirnments.txt and remove all @files. After all of this I am eternally grateful to the INTERNET, for helping me and without a trace of doubt will continue to help 
me CODE better.</p>
{% endblock %}
