{% extends 'base.html' %}

{% block content %}
    <h1>{% block title %} Add a New Post {% endblock %}</h1>
    <form method="post">
        <label for="title">Location</label>
        <br>
        <input type="text" name="title"
               placeholder="Location"
               value="{{ request.form['title'] }}"></input>
        <br>

        <label for="content">Description</label>
        <br>
        <textarea name="content"
                  placeholder="Description, ie: sport, time, AM or PM, number of people,extra information "
                  rows="15"
                  cols="60"
                  >{{ request.form['content'] }}</textarea>
        <br>
        <button type="submit">Submit</button>
    </form>
{% endblock %}